<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Potd</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
  <h1><%= programmer.name %></h1>
  <h2><%= programmer.description %></h2>
</body>
</html>
