<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Potd</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
  <h1>Welcome to Programmer of the Day!</h1>
  <ul>
    <li>
      <a href="/programmers">Click here</a> to get a list of our programmers.
    </li>
    <li>
      <a href="/about">Click here</a> to learn more about the app.
    </li>
  </ul>
</body>
</html>
